@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}
body{
    background: url(army.jpg) no-repeat;
    background-size: 127%;
    background-position: -250px -101px;
}
.main{
    width: 500px;
    margin: 44px auto 0px auto;
}
h2{
    font-size: 36px;
    text-align: center;
}
h3{
    font-size: 25px;
    text-align: center;
}
.register{
    width: 420px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}
label,span,h2{
    text-shadow: 1px 1px 5px rgba(0,0,0,o.3);
}
.register a button{
    width: 100%;
    height: 45px;
    background: rgba(213, 163, 231, 0.8);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #fff;
}
.register .input-box{
    position: relative;
    width: 89%;
    height: 9px;
    margin: 16px 0;
}
.register .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.input-box i{
    position: absolute;
    right: -42px;
    top: 295%;
    transform: translateY(-50%);
    font-size: 20px;
}
